PATH_add "$( expand_path '.bin' )"

if has "sops"; then
    ENCFILE="$( expand_path 'infra/secrets/encryption.sops' )"
    watch_file "$ENCFILE"
    export TF_ENCRYPTION="$( sops decrypt "$ENCFILE" )"
fi

export RUST_LOG=trace
export RUST_BACKTRACE=1
